@font-face {
	font-family: 'Snowy';
	src:url("CSS/Fonts/Snowy/CFSnowBall-Regular.ttf") format("truetype");
}

body {
	margin: 0px;
	padding: 0px;
	line-height: 0.9;
	background-image: linear-gradient(deepskyblue, lightblue);
	background-size: cover;
	font-family: Arial, sans-serif;
}

nav {
	overflow: auto;
	background-color: #202020;
	top: 0;
	width: 100%;
	display: block;
	position: fixed;
}

nav a {
	padding: 18px 18px;
	text-decoration: none;
	color: white;
	font-size: 125%;
	float: left;
}

a:hover {
	background-color: #555;
}

h2 {
	line-height: 0.5;
	font-size: 130%;
	margin-left: 1%;
}

header h2, h1 {
	text-align: center;
}

h1 {
	font-size: 300%;
	font-family: "Snowy";
}

ul {
	line-height: 2;
}

img {
	width: 500px;
	length: 5000px;
	margin-left: 1%;
}

section > a {
	font-size: 175%;
}

p {
	margin-left: 1%;
}

ul li {
	margin-left: 1%;
}
