body {
  background-image: linear-gradient(deepskyblue, lightblue);
	background-size: cover;
  font-family: Arial, sans-serif;
  padding-left: 20px;
  line-height: 0.5;
}
h1 {
  text-align: center;
}
h4 ~ p{
  padding-left: 30px;
}
q {
  padding-left: 70px;
  font-style: italic;
}
blockquote {
  padding-left: 30px;
  font-style: italic;
  line-height: 1.2;
}
