body {
  background-image: linear-gradient(deepskyblue, lightblue);
	background-size: cover;
  font-family: Arial, sans-serif;
  padding-left: 20px;
}
h1 {
  text-align: center;
}
h5 ~ p{
  padding-left: 30px;
}
q {
  padding-left: 70px;
  font-style: italic;
}
blockquote {
  padding-left: 30px;
  font-style: italic;
}
